<div class="container">
  <div class="row">
    <div class="col">
      <p>Person List</p>
      <button
        class="btn btn-primary"
        [disabled]="isDisabled"
        (click)="addPerson()"
      >
        Add person
      </button>

      <span *ngIf="show else withoutMessage">{{ message }}</span>
      <ng-template #withoutMessage>
        <span>{{ message }}</span>
      </ng-template>
      <app-person></app-person>

      <label for="degree">Degree</label>
      <input type="text" class="form-control" [(ngModel)]="degree" />
      {{ degree }}
    </div>
  </div>
</div>
