<form class="form d-flex gap-5">
  <div class="form-group col-md-2">
    <label for="firstName" class="sr-only">Name</label>
    <input
      type="text"
      id="firstName"
      name="firstName"
      class="form-control"
      placeholder="Name"
      [(ngModel)]="inputFirstName"
      autocomplete="off"
    />
  </div>
  <div class="form-group col-md-2">
    <label for="lastName" class="sr-only">Last Name</label>
    <input
      type="text"
      id="lastName"
      name="lastName"
      class="form-control"
      placeholder="Last Name"
      [(ngModel)]="inputLastName"
      autocomplete="off"
    />
  </div>

  <div class="col">
    <button class="btn btn-primary" type="submit" (click)="addPerson()">
      Add
    </button>
  </div>
</form>
